img {
  display: block;
}

/* Checking of the header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.header-container ul {
  display: flex;
  width: 1158px;
  margin: 0;
  padding: 0 15px 0 15px;
  
}



.nav-header
{
  display: flex;
  width: 1158px;
  margin: 0;
  padding: 0 15px 0 15px;
  align-items: center;

}


[class="logo link"]
{
  margin-right: 76px;

}



.list
{
  display: flex;
  gap: 40px;
  padding: 24px 0 24px;
}