:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --white: #fff;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.weblogo {
  color: var(--iris, #4d5ae5);
}

.studiologo {
  color: var(--navyblue, #2e2f42);
}


.linkpage {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
  font-weight: 500;
}

.linkpage:hover,
.linkpage:focus {
  color: var(--ocean, #404bbf);
}

.linkactive {
  color: var(--ocean, #404bbf);
}


.contacts {
  color: var(--slate);
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}

.navi-header
{
  border-bottom: var(--cornflower);
  
}

.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

.logo-navi
{
  display: flex;
}

.list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav {
  margin: 0 100px;

}

.hero {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  
}

.bg-sec1 {
  background-color: var(--navyblue);
  display: block;
  margin:  auto;
  flex-shrink: 0;
  padding: 188px 472px 292px 472px;


  
}



.sec1-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 1.12px;

  
}

/* Button */
.button.primary {
  color: var(--white, #fff);
  background-color: var(--iris, #4d5ae5);
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button {
  
  display: block;
  margin: 0 auto;

}

.button:hover,
.button:focus {
  background-color: var(--ocean);
}

/* Section 2*/

.section {
  background-color: :var(var(--white));
}

.header-section {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}



/* Footer */
.footerlogo, .footer-description{
  color: var(--CLOUD, #F4F4FD);
}





/*  https://youtu.be/VtHAEiE7n1o   1:25:30 */